version: "3.7"
services:
  loki:
    image: grafana/loki
    container_name: loki
    restart: unless-stopped
    logging:
      options:
        max-size: "10k"
        max-file: "5"
    volumes:
      - /etc/loki/config.yml:/etc/loki/config.yml
      - loki:/loki
      - loki-tmp:/tmp
{% if loki_unuse_iam and loki_store == "gcs" %}
      - /etc/loki/credentials.json:/credentials.json
{% endif %}
    ports:
      - 3100
    command: -config.file=/etc/loki/config.yml
    networks:
      default:
      proxy:
      prometheus-network:
        aliases:
          - {{ loki_host }}

{% if loki_unuse_iam %}
    environment:
{%   if loki_store == "gcs" %}
      GOOGLE_APPLICATION_CREDENTIALS: /credentials.json
{%   elif loki_store == "s3" %}
      AWS_ACCESS_KEY_ID: {{ lookup('env', 'AWS_ACCESS_KEY_ID') }}
      AWS_SECRET_ACCESS_KEY: {{ lookup('env', 'AWS_SECRET_ACCESS_KEY') }}
{%   endif %}
{% endif %}
  promtail:
    image: grafana/promtail
    container_name: promtail
    restart: unless-stopped
    logging:
      options:
        max-size: "10k"
        max-file: "5"
    volumes:
      - /var/log:/var/log
      - /etc/promtail/config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    networks:
      - default

networks:
  proxy:
    external: true
  prometheus-network:
    external: true

volumes:
  loki:
  loki-tmp:
