auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /tmp/loki
  storage:
    filesystem:
      chunks_directory: /tmp/loki/chunks
      rules_directory: /tmp/loki/rules
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/boltdb-shipper-active
    cache_location: /loki/boltdb-shipper-cache
    cache_ttl: 24h
{% if loki_store == "gcs" %}
    shared_store: gcs
  gcs:
    bucket_name: {{ loki_store_bucket_name }}
{% elif loki_store == "s3" %}
    shared_store: s3
  aws:
    s3: {{ loki_store_s3_region }}
    bucketnames: 
      - {{ loki_store_bucket_name }}
{% endif %}

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
{% if loki_store == "gcs" %}
      object_store: gcs
{% elif loki_store == "s3" %}
      object_store: s3
{% endif %}
      schema: v11
      index:
        prefix: index_
        period: 24h

ruler:
  alertmanager_url: http://localhost:9093